@frinxio:registry=https://npm.pkg.github.com/
@frinx:registry=https://registry.npmjs.org/
registry.npmjs.org/:_authToken=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
npm.pkg.github.com:_authToken=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