# Used by npm start script
PUBLIC_URL=/dashboard
PORT=5001

# Auth config
REACT_APP_AUTH_ENABLED=false
REACT_APP_AD_CLIENT_ID=yyyyyyyyyyyyyyyyyyyyyyyyy
REACT_APP_AD_REDIRECT_URL=http://localhost:3000/

# Dashboard items config
REACT_APP_URL_INVENTORY="http://localhost:5601"
REACT_APP_URL_INVENTORY_ENABLED=true

REACT_APP_URL_UNICONFIG=/uniconfig/ui
REACT_APP_URL_UNICONFIG_ENABLED=true

REACT_APP_URL_UNIFLOW=/uniflow/ui
REACT_APP_URL_UNIFLOW_ENABLED=true

REACT_APP_URL_USER_MGMT="https://aad.portal.azure.com"
REACT_APP_URL_USER_MGMT_ENABLED=false
