.btn-outline-info-toggle {
    color: #17a2b8;
    border-color: #17a2b8;
}

.btn-outline-info-toggle:hover {
    color: #17a2b8;
    border-color: #17a2b8;
    background-color: #fff;
}

.btn-outline-info-toggle:focus, .btn-outline-info-toggle.focus {
    box-shadow: 0 0 0 0.2rem rgba(23, 162, 184, 0.5);
}

.btn-outline-info-toggle.disabled, .btn-outline-info-toggle:disabled {
    color: #17a2b8;
    background-color: transparent;
}

.btn-outline-info-toggle:not(:disabled):not(.disabled):active, .btn-outline-info-toggle:not(:disabled):not(.disabled).active,
.show > .btn-outline-info-toggle.dropdown-toggle {
    color: #fff;
    background-color: #17a2b8;
    border-color: #17a2b8;
}

.btn-outline-info-toggle:not(:disabled):not(.disabled):active:focus, .btn-outline-info-toggle:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-info-toggle.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(23, 162, 184, 0.5);
}

.password {
    text-security:disc;
    -webkit-text-security:disc;
    -mox-text-security:disc;
}