.gradientBtn {
  background: linear-gradient(-120deg, rgb(0, 147, 255) 0%, rgb(0, 118, 203) 100%);
}

.App-link {
  color: #61dafb;
}

.modal-70w {
  width: 70%;
  max-width: none !important;
}

.editable-string {
  cursor: pointer;
}

.hilit {
  color: rgb(0, 140, 255) !important;
  font-weight: bold;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
