.left {
    display: block;
    margin-left: 0;
    width: 50px;
}

.right {
    display: block;
    float: right;
}

.config {
    width: 49%;
    float: left;
    padding: 20px;
    max-width: 700px;
    box-shadow: 0px 2px 20px 0px rgba(0,0,0,0.1);
}

.container-props {
    width: 1280px;
}

.operational {
    width: 49%;
    float: right;
    padding: 20px;
    max-width: 700px;
    box-shadow: 0px 2px 20px 0px rgba(0,0,0,0.1);
}

button {
    margin-left: 5px;
}

.margined-top {
    margin-top: 20px;
}

/* outer container of conf and oper */
.editor {
    text-align: left !important;
    margin-top: 40px;
}

.editingPre {
    border: 3px solid#aeb7ff;
    background-color: #f6f7ff;
}

.editable-string {
    cursor: pointer;
}

#editorWrapper {
    width: 100%;
    height: 100%;
    max-height: 550px;
    overflow-y: scroll;
    border-collapse: collapse;
    font-family: "Menlo", "Consolas", monospace;
    font-size: 13px;
    background: rgba(77, 77, 77, 0.03);
    border: 1px solid #c5c5c5;

}

.leftAligned {
    float: left;
    text-align: left;

}

.rightAligned {
    float: right;
    text-align: right;
}

.options {
    height: 80px;
    background-image: linear-gradient(to right top, #007bff, #0088ff, #0094ff, #009fff, #00aaff);
    margin-bottom: 20px;
    box-shadow: 0px 2px 15px 0px rgba(0,0,0,0.3);

}

.options .child {
    margin-top: 17px;
}

.options .child button {
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0);
}

.snapshotInput {
    width: 200px;
    display: inline-block;
}

button {
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
}

.round {
    border-radius: 90%;
}

.floating-btn {
    position: absolute;
    left: 10px;
    top: 17px;
}

.noshadow {
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0);
}

/* Moema */
.button--moema {
    padding: 1.5em 3em;
    border-radius: 50px;
    background: #ffffff;
    color: #000000;
    -webkit-transition: background-color 0.3s, color 0.3s;
    transition: background-color 0.3s, color 0.3s;
}

.button--moema::before {
    content: '';
    position: absolute;
    top: -20px;
    left: -20px;
    bottom: -20px;
    right: -20px;
    background: inherit;
    border-radius: 50px;
    z-index: -1;
    opacity: 0.4;
    -webkit-transform: scale3d(0.8, 0.5, 1);
    transform: scale3d(0.8, 0.5, 1);
}
.button--moema.button--animate {
    -webkit-transition: background-color 0.1s 0.3s, color 0.1s 0.3s;
    transition: background-color 0.1s 0.3s, color 0.1s 0.3s;
    color: #000000;
    background-color: rgb(255, 255, 255);
    -webkit-animation: anim-moema-1 0.3s forwards;
    animation: anim-moema-1 0.3s forwards;
    animation-iteration-count: 2;
}

.button--moema::before {
    -webkit-animation: anim-moema-2 0.3s 0.3s forwards;
    animation: anim-moema-2 0.3s 0.3s forwards;
}
@-webkit-keyframes anim-moema-1 {
    60% {
        -webkit-transform: scale3d(0.8, 0.8, 1);
        transform: scale3d(0.8, 0.8, 1);
    }
    85% {
        -webkit-transform: scale3d(1.1, 1.1, 1);
        transform: scale3d(1.1, 1.1, 1);
    }
    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}
@keyframes anim-moema-1 {
    60% {
        -webkit-transform: scale3d(0.8, 0.8, 1);
        transform: scale3d(0.8, 0.8, 1);
    }
    85% {
        -webkit-transform: scale3d(1.1, 1.1, 1);
        transform: scale3d(1.1, 1.1, 1);
    }
    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}
@-webkit-keyframes anim-moema-2 {
    to {
        opacity: 0;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}
@keyframes anim-moema-2 {
    to {
        opacity: 0;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

