.left {
    display: block;
    margin-left: 0;
    width: 50px;
}

.right {
    display: block;
    float: right;
}

.config {
    width: 49%;
    float: left;
}

.operational {
    width: 49%;
    float: right;
}

button {
    margin-left: 5px;
}

.margined-top {
    margin-top: 20px;
}

/* outer container of conf and oper */
.editor {
    height: auto;
    margin-top: 40px;
    box-shadow: 0px 2px 50px 0px rgba(0,0,0,0.3);
    text-align: left !important;
    background: rgba(0, 0, 0, 0.03);
}

.editingPre {
    border: 3px solid#aeb7ff;
    background-color: #f6f7ff;
}

.editable-string {
    cursor: pointer;
}

#editorWrapper {
    width: 100%;
    height: 100%;
    max-height: 550px;
    overflow-y: scroll;
    border-collapse: collapse;
    font-family: "Menlo", "Consolas", monospace;
    font-size: 13px;
    background: rgba(0, 0, 0, 0.03);

}

.leftAligned {
    margin-left: 0;
    float: left;
    text-align: left;
}

.rightAligned {
    margin-right: 0;
    float: right;
    text-align: right;
}

.options {
    height: 80px;
    background-image: linear-gradient(to right top, #007bff, #0088ff, #0094ff, #009fff, #00aaff);
    margin-bottom: 20px;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
}

.options .child {
    margin-top: 17px;
}

.options .child button {
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0);
}

.snapshotInput {
    width: 200px;
    display: inline-block;
}

.snapshotButton {
    margin-top: -5px;
}

button {
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
}

.round {
    border-radius: 90%;
}

.floating-btn {
    position: absolute;
    left: 10px;
    top: 17px;
}

.noshadow {
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0);
}

