.searchGroup {
    text-align: left;
}

.deviceGroup tr:hover {
    cursor: pointer;
}

.listPage {
    margin-top: 20px;
}

.deviceGroup button {
    margin-left: 0px;
    margin-right: 10px;
}

.scrollWrapper {
    overflow: auto;
    max-height: 700px;
}

.leftAligned1 {
    text-align: left;
    float: left;
}

.leftAligned1 button {
    margin-left: 0;
}

.rightAligned1 {
    text-align: right;
    float: right;
}

.rightAligned1 button {
    margin-right: 0;
}

.clickable:hover {
    cursor: pointer;
}

.form-control {
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0);
}

.hilit {
    color: rgb(255, 126, 87) !important;
    font-weight: bold;
}

input[type='checkbox'] {
    -webkit-appearance:none;
    width: 17px;
    height: 17px;
    background: white;
    border: 1px solid #868988;
    border-radius: 15px;
    cursor: pointer;
}
input[type='checkbox']:checked {
    background: #0093FF;
}

.pages {
    color: #007bff;
}

.pages:hover {
    color: #0322ff;
    cursor: pointer;
}
