.searchGroup {
    text-align: left;
}

.listPage {
    margin-top: 20px;
}

.deviceGroup button {
    margin-left: 0px;
    margin-right: 10px;
}

.scrollWrapper {
    overflow: auto;
    max-height: 700px;
}

.leftAligned1 {
    text-align: left;
    float: left;
}

.rightAligned1 {
    text-align: right;
    float: right;
}

.clickable:hover {
    cursor: pointer;
}

input[type='checkbox'] {
    -webkit-appearance:none;
    width: 17px;
    height: 17px;
    background: white;
    border: 1px solid #868988;
    border-radius: 15px;
    cursor: pointer;
}
input[type='checkbox']:checked {
    background: #0093FF;
}

.pages {
    color: #007bff;
}

.pages:hover {
    color: #0322ff;
    cursor: pointer;
}

.tableHeader:hover {
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.1);
    cursor: pointer;
}