.wftable {
    font-size: 13px;
    text-align: left;
}

.wfRow button {
    margin: 4px;
}

.wfRow .accordBody {
    margin: 20px;
}

.wfLabel {
    border-radius: 10px;
    padding: .15rem .375rem;
    margin-right: 5px;
    color: #ffffff;
    display: inline-grid;
    font-weight: 400;
    font-size: 11px;
}

.wfDef {
    padding: .5rem 0.55rem .25rem;
}
.description {
    font-size: 13px;
}