.wftable {
    font-size: 13px;
    text-align: left;
}

.wfRow button {
    margin: 4px;
}

.wfRow .accordBody {
    margin: 20px;
}

.wfLabel {
    background-color: rgba(0, 149, 255, 0.91);
    border-radius: 10px;
    padding: .275rem .5rem;
    margin-left: 5px;
    color: #ffffff;
    display: inline-grid;
    font-weight: 400;
    font-size: 13px;
}

.wfLabel:hover {
    background-color: white;
    color: black;
}