.pointer {
    cursor: pointer;
}

.logo {
    opacity: 0.5;
    width: 300px;
    margin-top: 30px;
    transition: 0.25s opacity;
}

.logoBg {
    background: rgba(40,98,207,1);
    background: linear-gradient(324deg, rgba(81,215,255,1) 0%, rgba(40,98,207,1) 100%);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    color: white;
}